.custom-header {
    background-color: #343a40;
}

.avatar img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.hidden {
    display: none;
}

@media (max-width: 968px) {
    .avatar {
        max-width: 250px;
        margin: 0 auto;
    }

    .custom-header {
        padding: 20px 0;
    }

    .custom-header h1 {
        font-size: 1.5rem;
    }

    .custom-header h2 {
        font-size: 1.2rem;
    }

    .custom-header p {
        font-size: 0.9rem;
    }

    section {
        padding: 15px;
    }

    section h2 {
        font-size: 1.3rem;
    }

    section ul {
        padding-left: 20px;
    }
}